.DS_Store
node_modules/
dist/
tmp/
temp/
logs/
.npmrc
coverage
.nyc*
config/*.json
!config/*.example.json
**/*.log
public/docs
.vagrant

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

ormconfig.json

**/**/plugin-premium/
