version: "3"

services:
  api:
    image: tgoins/nightwatch:dev
    volumes:
      - ./:/usr/src/app
    ports:
      - 4000:4000
      - 8081:80
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; yarn api:dev'
    depends_on:
      - db
  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=nightwatch
  bot:
    image: tgoins/nightwatch:dev
    volumes:
      - ./:/usr/src/app
    depends_on:
      - api
    command: bash -c 'while !</dev/tcp/api/4000; do sleep 1; done; yarn bot:dev'
    environment:
      - API_URL=http://api:4000/api
