ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: right;
}
.navigation-header {
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.header-text {
	text-align: center;
	padding-top: 150px;
}
li a {
	display: inline-block;
	padding: 10px;
	color: black;
	font-size: 12px;
}
li a:hover {
	text-decoration: none;
}
h3 {
	text-align: center;
	text-shadow: 1px 1px gray;
}
h1 {
	text-align: center;
	font-size: 60px;
	padding-top: 150px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*font-family: "Uni Sans";*/
	line-height: 0.7;
	text-shadow: 1px 1px gray;
}
h4 {
	text-align: center;
	font-size: 20px;
	text-shadow: 1px 1px gray;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-right: 200px;
	padding-left: 200px;
}
h5 {
	/* default body text size */
	text-align: center;
	padding-right: 30%;
	padding-left: 30%;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}	
.homepage-container {
	text-align: center;
	padding-top: 200px;
}
.homepage-center-text {
}
.youtube-container {
	text-align: center;
	padding-top: 50px;
}
.youtube {
}
body {
	background-image: url("../../assets/background6.jpg");
	background-size: auto;
}
.image-container {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.image {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}
img {
	text-align: center;
}
h6 {
	text-align: center;
}
input[type=text] {
	width: 20%;
	padding: 10px 15px;
	box-sizing: border-box;
}
form {
	text-align: center;
}
.message-box {
	text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1fe043;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.features-list {
	padding: 10px 10px;
	text-align: center;
}
hr {
	color: gray;
	width: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
